@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,500&family=Sriracha&display=swap');
body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    font-family: 'Sriracha', ; 
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1170px;
    margin: auto;
    padding: 25px 25px;

}
ul{
    list-style: none;
}
.footer{
    
    background-color: #B1B2FF;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
   font-size: 18px;
   font-size:30px;
   color: black;
   font-weight: 1000;
   text-transform: capitalize;
   margin-bottom: 35px;
   position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0%;
    bottom: -10px;
    height: 2px;
    background-color: #3a393b;
    box-sizing: border-box;
    width: 50px;

}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 17px;
    text-transform: capitalize;
    color: black;
    text-decoration: none;
    font-weight: 450;
    color: black;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: black;
    padding-left: 10px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: black;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}

p{
    text-align: center;
    font-weight:400: ;
}